body {
    font-family: Arial, sans-serif;
    margin: 3rem;
    padding: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  h1 {
    margin-top: 0;
  }

  .name{
    text-transform: uppercase;
    font-size: 4rem;
    margin: 4rem 0;
    line-height: 1.5;
    letter-spacing: 5px;
  }
  span{
    color: #007BFF;
  }


  img {
    max-width: 100%;
    height: auto;
  }

  .about-me{
    display:flex;
    justify-content: space-between;
    margin: 8rem 10rem;
  }

  .about-text{
    align-self: center;
    width: 70%;
    font-size: 1.3rem;
    line-height: 1.5;
  }
  
  .img{
    width:25%;
  }

  .goals{
    margin: 3rem 0;
  }

  h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 2rem 0;
  }

  dl{
    margin: 5rem;
  }
  dt{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 2rem 0;
    color: #007BFF;

  }
  dd{
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }

  .name-time{
    display: flex;
    justify-content: space-between;
  }

  .time{
    /* color: #007BFF; */
    font-size: 1.3rem;
  }

  .links a {
    margin-right:.5rem;
    color: #007BFF;
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  i{
    font-size: .8rem;
    color: #007BFF;
  }
  u{
    display: block;
    padding-bottom: .5rem;
  }
  
  @media only screen and (max-width: 1100px){
    .name{
        font-size: 3.5rem;
      }
     .img{
        width:20%;
      }
    
      .about-me{
        margin: 8rem 6rem;
      }
    
      .about-text{
        width: 75%;
        font-size: 1.2rem;
      }

      h2{
        font-size: 2.3rem;
        text-transform: uppercase;
        margin: 2rem 0;
      }
    
      dl{
        margin: 4.5rem;
      }
      dt{
        font-size: 1.3rem; 
      }
      dd{
        font-size: 1rem;
      }
  }

  @media only screen and (max-width: 950px){
    .name{
        font-size: 2.5rem;
      }
    
      h2{
        font-size: 2rem;
      }
  }

  @media only screen and (max-width: 768px){
    .name{
        font-size: 2rem;
      }
    

      .about-me{
        margin: 6rem 2rem;
      }
    
      .about-text{
        font-size: 1rem;
      }
    
      h2{
        font-size: 1.4rem;
      }
    
      dl{
        margin: 5rem 2rem;
      }
      dt{
        font-size: 1.2rem;
      }
      dd{
        font-size: 1rem;
      }
    
      .time{
        /* color: #007BFF; */
        font-size: 1.2rem;
      }
  }

  @media only screen and (max-width: 600px){
    body {
        margin: 1rem;
      }

    .name{
        font-size: 1.2rem;
        margin: 2rem 0;
        margin:2rem 0;
        letter-spacing: 1px;
      }

      .about-me{
        display:block;
        margin: 3rem 0;
      }
    
      .about-text{
        width: 90%;
        font-size:.9rem;
      }
      
      .img{
        width:40%;
      }
    
      h2{
        font-size: 1.1rem;
        margin: 1rem 0;
        line-height: 1.6;
      }
    
      dl{
        margin: 0rem;
      }
      dt{
        font-size: 1rem;
        margin: 1rem 0;
        line-height: 1.6;
    
      }
      dd{
        font-size: .85rem;
    
      }
    
      .name-time{
        display: block;
       
      }
    
      .time{
        /* color: #007BFF; */
        font-size: 1rem;
      }
    
      .links a {
        margin:.5rem 0;
        display: block;
      }

  }
